* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
}

.header-container {
  background-color: green;
  border-bottom: 1px solid black;
}

.container {
  width: 75%;
  margin: auto;
}

.header-top {
  background-color: blue;
}
.menu-inline {
  list-style: none;
  text-align: center;
}
.menu-inline li {
  display: inline-block;

}

.header-top {
  height: 70px;
  line-height: 70px;
}

.header-top::after {
  content: "";
  display: table;
  clear: both;
}

.nav-top-left {
  float: left;
  width: 53%;
  text-align: left;
  padding-right: 200px;


}

.nav-top-left li {
  color: #33475B;
  padding: 0 5px;
}

.nav-top-right {
  float: right;
  width: 31%;
  text-align: right;
  padding-left: 200px;
}

.header-top li {
  margin: 0 5px;
  font-size: 15px;
}

.header-top li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.fa-search {
  color: #1DADC4;
}

.login {
  background-color: white;
  color: orange;
  border-radius: 3px;
  border: 1px solid;
  border-color: orange;
  padding: 10px 15px;
  font-size: 10px;
}

.orange-top {
  background-color: orange;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 10px 15px;
  font-size: 10px;
}

.header-bottom {
  background-color: yellow;
}

.header-bottom::after {
  content: "";
  display: table;
  clear: both;
}

.header-bottom-logo {
  height: 70px;
  line-height: 90px;

  }

.header-bottom-logo {
  float: left;
  width: 50%;
  text-align: left;
  padding-left: 200px;

}

.nav-bottom-right {
  float: right;
  width: 40%;
  text-align: right;
  padding-left: 200px;
}

.nav-bottom-right {
  height: 70px;
  line-height: 70px;
}

.nav-bottom li {
  margin: 0 5px;
  font-size: 15px;
}

.nav-bottom li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}



.header-central::after {
  content: "";
  display: table;
  clear: both;
}

.header-central-foto {
  height: 900px;
  background-color: violet;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.slogan {
  width: 75%;
  margin: auto;

}

.h1-slogan {
  padding-top: 50px;
  margin-left: 200px;
}

.h5-slogan {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 200px
}
.h6-slogan {
  padding-top: 30px;
  margin-left: 200px;
}

.orange {
  background-color: orange;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 15px 25px;
  font-size: 10px;
  margin-left: 200px;
}

main {
  position: relative;
  height: 150px;
  background-color: red;
}

.main-container::after {
  content: "";
  display: table;
  clear: both;
}
.container-cubo {
float: left;
width: 100%;
text-align: left;
}

.container-cubo {
  height: 650px;
  background-color: #f5f8fa;
}

.cubo {
  padding-left: 700px;
  margin-top: 70px;
}

.testo-cubo {
  line-height: 20px;
  text-align: center;
}

.central-container::after {
  content: "";
  display: table;
  clear: both;
}

.central-container {
  background-color: #fff;
  width: 75%;
  height: 370px;
  margin: auto;
  /* border: 1px solid grey; */
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px lightgrey;

}

.book {
  float: left;
  width: 35%;
}

.testo-book {
  float: right;
  width: 65%;

}

.book {
  /* height: 400px;
  background-color: red; */
  width: 40%;
}

.book-free {
  background-color: #fff;
  height: 200px;
  width: 200px;
  margin-top: 40px;
  margin-left: 300px;

}

.orange-book {
  background-color: orange;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 15px 25px;
  font-size: 10px;
  margin-left: 350px;
}

hr {

  border: 1px solid  black;
  width: 400px;
  margin-left: 300px;
}

h1 {
  padding-top: 50px;
}

h5 {
  padding-top: 30px;
  padding-bottom: 30px;

}
h6 {
  padding-top: 20px;
}



.testo-book {
  /* height: 400px;
  background-color: pink; */
  width: 60%;

}

.pre-lista-check {
  margin-top: 30px;
}












.sezione1 {
  float: left;
  width: 33.33%;
  margin: 2px solid black;
  height: 600px;



}

.sezione1>h3, .sezione2>h3, .sezione3>h3 {
  color: black;
}

.palline {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  padding-top: 30px;

}

section h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  text-align: center;
}
.sezione1 hr {
  color: black;
  width: 270px;
  display: block;
  margin: 0 auto;
}

.check-main1-list  {
  margin-left: 200px;
  list-style: none;
}

.far {
  background-color: orange;
}

section h5 {
   padding-top: 20px;
   padding-bottom: 30px;
   text-align: center;
   line-height: 130%;
}

section h2 {
   padding-top: 20px;
   padding-bottom: 30px;
   text-align: center;
   line-height: 130%;
}


.sezione2 {
  float: left;
  width: 33.33%;
}

.borsa {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}

.sezione2 hr {
  color: black;
  width: 80px;
  display: block;
  margin: 0 auto;
}

.sezione3 {
  float: left;
  width: 33.33%;

}

.tavolo {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  }

.sezione3 hr {
  color: black;
  width: 80px;
  display: block;
  margin: 0 auto;
  }
