* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  height: 850px;
  background-color: red;
}

.header-container {
  background-color: green;
  border-bottom: 1px solid black;
}

.container {
  width: 80%;
  margin: auto;
}

.header-top {
  background-color: blue;
}
.menu-inline {
  list-style: none;
  text-align: center;
}
.menu-inline li {
  display: inline-block;

}

.header-top {
  height: 70px;
  line-height: 70px;
}

.header-top::after {
  content: "";
  display: table;
  clear: both;
}

.nav-top-left {
  float: left;
  width: 50%;
  text-align: left;
  padding-right: 200px;

}

.nav-top-left li {
  color: #33475B;
  padding: 0 5px;
}

.nav-top-right {
  float: right;
  width: 50%;
  text-align: right;
  padding-left: 200px;
}

.header-top li {
  margin: 0 5px;
  font-size: 15px;
}

.header-top li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.login {
  background-color: white;
  color: orange;
  border-radius: 3px;
  border: 1px solid;
  border-color: orange;
  padding: 10px 15px;
  font-size: 10px;
}

.orange-top {
  background-color: orange;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 10px 15px;
  font-size: 10px;
}

.header-bottom {
  background-color: yellow;
}

.header-bottom::after {
  content: "";
  display: table;
  clear: both;
}

.header-bottom-logo {
  height: 70px;
  line-height: 90px;
  }

.header-bottom-logo {
  float: left;
  width: 50%;
  text-align: left;
  padding-left: 200px;
}

.nav-bottom-right {
  float: right;
  width: 50%;
  text-align: right;
  padding-left: 200px;
}

.nav-bottom-right {
  height: 70px;
  line-height: 70px;
}

.nav-bottom li {
  margin: 0 5px;
  font-size: 15px;
}

.nav-bottom li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}



.header-central::after {
  content: "";
  display: table;
  clear: both;
}

.header-central-foto {
  height: 1000px;
  background-color: violet;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.slogan {
  width: 60%;
  margin: auto;

}

h1 {
  padding-top: 50px;
}

h5 {
  padding-top: 30px;
  padding-bottom: 30px;
}
h6 {
  padding-top: 30px;
}

.orange {
  background-color: orange;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 15px 25px;
  font-size: 10px;


}
